mixin checkbox-button(name, value, firstLabel, secondLabel)
   .checkbox-button 
      label.checkbox-button__label
         if secondLabel 
            p.checkbox-button__title 
               | #{firstLabel}
               br
               | #{secondLabel}
         else 
            p.checkbox-button__title #{firstLabel}
         span.checkbox-button__title #{label}
         input.checkbox-button__input(type="checkbox" name=name)
         span.checkbox-button__checkmark
      

